<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>웨슬리의 일기</title>
    <link rel="stylesheet" href="styles.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- sidebar starts -->
    <div class="sidebar">
      <!-- <i class="fab fa-twitter"></i>
      <div class="sidebarOption active">
        <span class="material-icons"> home </span>
        <h2>Home</h2>
      </div>

      <div class="sidebarOption">
        <span class="material-icons"> search </span>
        <h2>Explore</h2>
      </div>

      <div class="sidebarOption">
        <span class="material-icons"> notifications_none </span>
        <h2>Notifications</h2>
      </div>

      <div class="sidebarOption">
        <span class="material-icons"> mail_outline </span>
        <h2>Messages</h2>
      </div>

      <div class="sidebarOption">
        <span class="material-icons"> bookmark_border </span>
        <h2>Bookmarks</h2>
      </div>

      <div class="sidebarOption">
        <span class="material-icons"> list_alt </span>
        <h2>Lists</h2>
      </div>

      <div class="sidebarOption">
        <span class="material-icons"> perm_identity </span>
        <h2>Profile</h2>
      </div>

      <div class="sidebarOption">
        <span class="material-icons"> more_horiz </span>
        <h2>More</h2>
      </div>
      <button class="sidebar__tweet">Tweet</button> -->
    </div>
    <!-- sidebar ends -->

    <!-- feed starts -->
    <div class="feed">
      <div class="feed__header">
        <i class="fab fa-twitter"></i>
        <h2>웨슬리의 일기 (영국 선교, 그리고 모라비안과의 만남)</h2>
      </div>

      <!-- tweetbox starts -->
      <div class="tweetBox">
        <form>
          <div class="tweetbox__input">
            <img
              src="images/profile.png"
              alt=""
            />
            <input type="text" placeholder="What's happening?" />
          </div>
          <button class="tweetBox__tweetButton">Tweet</button>
        </form>
      </div>
      <!-- tweetbox ends -->

      <!-- post starts -->
      <div class="post">
        <div class="post__avatar">
          <img
            src="images/profile.png"
            alt=""
          />
        </div>

        <div class="post__body">
          <div class="post__header">
            <div class="post__headerText">
              <h3>
                John Wesley
                <span class="post__headerSpecial"
                  ><span class="material-icons post__badge"> verified </span>@wesley · 1735.10.14.</span>
              </h3>
            </div>
            <div class="post__headerDescription">
              <p>동생 찰스 웨슬리와 함께 작은 배를 타고 미국 조지아를 향해 떠났다. 우리가 모국을 떠나는 이유는 궁핍함 때문이 아니다. 세상의 쓰레기 같은 부와 명예를 얻기 위함도 아니요, 오직 우리의 영혼을 구원하기 위함이다.</p>
            </div>
          </div>
          <img
            src="https://www.hagenbuch.org/wp-content/uploads/2019/08/brigantine-english-1725.jpg"
            alt=""
          />
          <div class="post__footer">
            <span class="material-icons"> repeat </span>
            <span class="material-icons"> favorite_border </span>
            <span class="material-icons"> publish </span>
          </div>
        </div>
      </div>
      <!-- post ends -->

      <!-- post starts -->
      <div class="post">
        <div class="post__avatar">
          <img
            src="images/profile.png"
            alt=""
          />
        </div>

        <div class="post__body">
          <div class="post__header">
            <div class="post__headerText">
              <h3>
                John Wesley
                <span class="post__headerSpecial"
                  ><span class="material-icons post__badge"> verified </span>@wesley · 1736.1.23.</span>
              </h3>
            </div>
            <div class="post__headerDescription">
              <p>저녁에 또다시 폭풍이 시작되었다. 아침에는 더욱 심해져서 배가 곤두박칠치게 되었다. "나는 어찌하여 그렇게도 믿음이 없느냐?"라는 말밖에 할수가 없었다. 왜냐하면 아직도 죽지 않으려고 안달을 했기 때문이다...</p>
            </div>
          </div>
          <img
            src="https://i.pinimg.com/originals/f1/70/d8/f170d85c24e49465cfeeadff1aab5db0.jpg"
            alt=""
          />
          <div class="post__footer">
            <span class="material-icons"> repeat </span>
            <span class="material-icons"> favorite_border </span>
            <span class="material-icons"> publish </span>
          </div>
        </div>
      </div>
      <!-- post ends -->

      <!-- post starts -->
      <div class="post">
        <div class="post__avatar">
          <img
            src="images/profile.png"
            alt=""
          />
        </div>

        <div class="post__body">
          <div class="post__header">
            <div class="post__headerText">
              <h3>
                John Wesley
                <span class="post__headerSpecial"
                  ><span class="material-icons post__badge"> verified </span>@wesley · 1736.1.25.</span>
              </h3>
            </div>
            <div class="post__headerDescription">
              <p> 예배가 시작되면서 시편이 한참 낭송되고 있는데 파도가 덮쳐서 큰 돛대가 산산조각이 나고 배를 뒤덮어 갑판과 갑판 사이로 쏟아져 내렸다. 마치 큰 바다 깊은 물이 우리를 다 삼켜 버릴 것 같았다. 영국 사람 사이에서는 귀를 찢을 듯한 비명이 터져 나왔다. 그러나 독일 사람들은 조용히 계속하여 시편을 낭송하였다. 나는 후에 그들 중 한 사람에게 물었습니다. "당신은 두렵지 않습니까?" 그러자 그는 "아니오, 하나님께 감사할 따름입니다."하고 대답하는 것이었다. 나는 다시 물었다. "그렇지만 당신네의 부인들과 어린이들은 두려워하지 않았습니까?" 그는 부드럽게 대답하였습니다. "아니오, 우리네 부인들과 어린이들은 죽음을 두려워하지 않습니다."</p>
            </div>
          </div>
          <img
            src="https://assets.theschooloflife.com/wp-content/uploads/2022/02/21184011/De_Windstoot_-_A_ship_in_need_in_a_raging_storm_Willem_van_de_Velde_II_1707-scaled.jpg"
            alt=""
          />
          <div class="post__footer">
            <span class="material-icons"> repeat </span>
            <span class="material-icons"> favorite_border </span>
            <span class="material-icons"> publish </span>
          </div>
        </div>
      </div>
      <!-- post ends -->

      <!-- post starts -->
      <div class="post">
      <div class="post__avatar">
        <img
          src="images/profile.png"
          alt=""
        />
      </div>

      <div class="post__body">
        <div class="post__header">
          <div class="post__headerText">
            <h3>
              John Wesley
              <span class="post__headerSpecial"
                ><span class="material-icons post__badge"> verified </span>@wesley · 1736.2.7.</span>
            </h3>
          </div>
          <div class="post__headerDescription">
            <p>  오글소프 씨가 독일인 교회 목사 슈팡엔베르크 씨와 함께 사반나로부터 돌아왔다. 나는 곧 그의 심령이 얼마나 훌륭한가를 알고 내 자신의 행동에 관하여 그에게 충고를 부탁하였다. 그는 말하였다. "내 형제여, 나는 먼저 당신에게 한 두 가지 물어야겠습니다. 당신 자신 속에 증언이 있습니까?" 나는 놀랐다. 무슨 말을 해야 할지를 몰랐다. 그는 그것을 관찰하고 또 물었다. "당신은 예수 그리스도를 압니까?" 나는 잠시 멈추었다가 "나는 그분이 세상의 구세주이심을 압니다."라고 대답하였다. 그러자 그는 대답하였습니다. "옳습니다. 그러나 그분이 당신을 구원하셨다는 것을 압니까?" 나는 대답하였다. "나는 그분이 나를 구원하시기 위하여 죽으셨을 것으로 희망합니다." 그는 다만 이렇게 덧붙였다. "당신 자신을 압니까?" 나는 "압니다"라고 대답하였다. 그러나 그것은 빈말 같아서 두려웠다.</p>
          </div>
        </div>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Gottlieb_August_Spangenberg.jpg"
          alt=""
        />
        <div class="post__footer">
          <span class="material-icons"> repeat </span>
          <span class="material-icons"> favorite_border </span>
          <span class="material-icons"> publish </span>
        </div>
      </div>
    </div>
    <!-- post ends -->


    </div>






    <!-- feed ends -->

    <!-- widgets starts -->
    <!-- <div class="widgets">
      <div class="widgets__input">
        <span class="material-icons widgets__searchIcon"> search </span>
        <input type="text" placeholder="Search Twitter" />
      </div>

      <div class="widgets__widgetContainer">
        <h2>What's happening?</h2>
        <blockquote class="twitter-tweet">
          <p lang="en" dir="ltr">
            Sunsets don&#39;t get much better than this one over
            <a href="https://twitter.com/GrandTetonNPS?ref_src=twsrc%5Etfw">@GrandTetonNPS</a>.
            <a href="https://twitter.com/hashtag/nature?src=hash&amp;ref_src=twsrc%5Etfw"
              >#nature</a
            >
            <a href="https://twitter.com/hashtag/sunset?src=hash&amp;ref_src=twsrc%5Etfw"
              >#sunset</a
            >
            <a href="http://t.co/YuKy2rcjyU">pic.twitter.com/YuKy2rcjyU</a>
          </p>
          &mdash; US Department of the Interior (@Interior)
          <a href="https://twitter.com/Interior/status/463440424141459456?ref_src=twsrc%5Etfw"
            >May 5, 2014</a
          >
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div> -->
    <!-- widgets ends -->
  </body>
</html>
